/SensorsAnalyticsSDK/.vs
/SensorsAnalyticsSDK/bin
/SensorsAnalyticsSDK/obj
/SensorsAnalyticsSDK/.DS_Store

/DotNetCoreDemo/.vs
/DotNetCoreDemo/bin
/DotNetCoreDemo/obj
/DotNetCoreDemo/.DS_Store

/DotNetFrameworkDemo/.vs
/DotNetFrameworkDemo/bin
/DotNetFrameworkDemo/obj
/DotNetFrameworkDemo/.DS_Store


/SAUnitTest/.vs
/SAUnitTest/bin
/SAUnitTest/obj
/SAUnitTest/.DS_Store

/DotNetCoreDemo/DotNetCoreDemo.csproj.user
